@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');

:root {
    --bg: #252a34;
    --bg-dark: #1d1d1d;
    --color: #eaeaea;
    --light-color: #eaeaeaa4;
    --primary-color: #4a00e0;
    --secondary-color: #3cd3e5;
    --dark-color: #2153e5;
    --font: 'Crimson Text', serif;
    --secondary-font: 'Work Sans', sans-serif;
}

body {
    background: var(--bg);
    color: var(--color);
    font-family: var(--font);
    font-size: 1.4em;
    letter-spacing: 2px;
}

#main {
}

#particles-js {
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: -1;
}

.padding {
    padding-top: 50px;
}

img {
    border-radius: 50%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}

.profile-name {
    text-align: center;
    padding: 30px;
}

.links {
    padding: 0.6em 2em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    color: var(--color);
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--secondary-color);
    transition: all 0.4s;
    border-radius: 25px 0;
    display: block;
    width: 290px;
}

a {
    text-decoration: none;
    color: var(--color);
    transition: color 1s;
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    background: var(--secondary-color);
    border-radius: 0 25px;
}